<section class="controls">
  <div class="control-group">
    <span class="separator"></span>
    <button
      (click)="previousPage()"
      [disabled]="currentPageNumber() <= 1"
      mat-flat-button
    >
      Previous
    </button>
    <span>Page {{ currentPageNumber() }} / {{ totalPages() }}</span>
    <button
      (click)="nextPage()"
      [disabled]="currentPageNumber() >= totalPages()"
      mat-flat-button
    >
      Next
    </button>
  </div>

  <span class="separator"></span>
  <div class="control-group">
    <button
      (click)="zoomOut()"
      [disabled]="scale() <= 0.5"
      mat-flat-button
      class="icon-button"
    >
      -
    </button>
    <span>Zoom: {{ scale() | number : "1.0-1" }}x</span>
    <button
      (click)="zoomIn()"
      [disabled]="scale() >= 3"
      mat-flat-button
      class="icon-button"
    >
      +
    </button>
  </div>
  <span class="separator"></span>
  <button
    (click)="toggleTextView()"
    [disabled]="!isTextBasedPdf()"
    mat-flat-button
  >
    {{ showText() ? "PDF view" : "Text view" }}
  </button>
  <span class="separator"></span>
</section>
