.file-input-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  button {
    position: relative;
    z-index: 1;
  }
}

.file-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
