.header{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: rgb(242, 242, 242);

}

.container{
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 1rem;
} 

h1{
  font-size: 1.5rem;
}