.pdf-container {
  width: 100%;
  min-height: 500px;

  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;

  button {
    margin: 0 5px;
  }

  span {
 color: rgb(73, 73, 73);
  }
}


