.pdf-container {
 width: 100%;
 overflow-y: auto;
 
 .pageWrapper {
   margin: 0 auto;
   position: relative;
 }

 canvas {
   max-width: 100%;
   height: auto;
   display: block;
 }

 .textLayer {
   position: absolute;
   overflow: hidden;
   opacity: 0.2;
   line-height: 1.0;
 }
}